{% extends "base.html" %}
{% block title %}
單一事項頁面
{% endblock %}

{% block content %}
<h1>Completed Todo</h1>
{% if todos %}
{% for todo in todos %}
<ul>
    <li>
        <small>
            {{todo.created}}
        </small>
    </li>
    <li>
        <a href="{% url 'view' todo.id %}">
            {{todo.title|safe|truncatechars:10}}
        </a>
    </li>
    <li>
        {% if todo.important %}
        <span style="color:red">重要</span>
        {% endif %}
    </li>
    <a href="{% url 'completed_by_id' todo.id %}">
        取消完成
    </a>
</ul>
{% endfor %}
{% else %}
目前無已完成事項
{% endif %}
{% endblock %}