{% extends "base.html" %}
{% block title %}
代辦事項頁面
{% endblock %}

{% block content %}

<h3>ToDoList</h3>
{% if todos %}
{% for todo in todos %}
<ul>
    <li><small>{{todo.created}}</small></li>
    <li>
        <a href="{% url 'view' todo.id %}">
            {{todo.id}}</a>
    </li>
    <!-- <li>{{todo.title}}</li> -->
    <li>
        {% if todo.important %}
        重要
        <!-- {{todo.important}} -->
        {% endif %}
    </li>
</ul>

{% endfor %}
{% else %}
目前無代辦事項
{% endif %}
{% endblock %}